@import "color-variables";

//------------------------------------------------------------
// Sidebar
//------------------------------------------------------------
.column-RootSidebar {
	background-color: @colorSidebarBg;
	border-right: 1px solid @colorSidebarBorder;
	padding-top: 0px;

	.flexbox-handle-horizontal div {
		box-shadow: none;
	}
}

.account-sidebar {
	background-color: @colorSidebarBg;
}


//------------------------------------------------------------
// Sidebar items
//------------------------------------------------------------
.nylas-outline-view {
	//---------------------------------
	// Items
	//---------------------------------
	.item {
		font-size: 11pt;
		font-weight: normal;
		color: @colorSidebarText;

		.icon {
			margin-left: 8px;
		}

		img.content-mask {
			background-color: @colorSidebarText;
			margin-top: -1px;
			margin-bottom: 1px;
		}

		&:hover {
			background-color: @colorSidebarItemHover;
		}

		&.selected {
			background-color: @colorAccent;
			color: @colorSidebarTextActive;

			img.content-mask {
				background-color: @colorSidebarTextActive;
			}
		}
	}

	//---------------------------------
	// Drop target item
	//---------------------------------
	.item-container.dropping {
		background: transparent;

		.item {
			background-color: @colorAccent;
			color: @colorSidebarTextActive;

			img.content-mask {
				background-color: @colorSidebarTextActive;
			}
		}
	}
}

//------------------------------------------------------------
// Item count badges
//------------------------------------------------------------
.nylas-outline-view .item {
	.item-count-box {
		box-shadow: none;
		background-color: @colorAccent;
		color: @colorSidebarTextActive;

		&.alt-count {
			background-color: @colorAccent;
			color: @colorSidebarTextActive;
		}
	}

	&.selected {
		.item-count-box {
			background-color: @colorSidebarTextActive;
			color: @colorAccent;

			&.alt-count {
				background-color: @colorSidebarTextActive;
				color: @colorAccent;
			}
		}
	}
}

//------------------------------------------------------------
// Folder expand/collapse arrows
//------------------------------------------------------------
.disclosure-triangle.visible div {
	border-left-color: @colorSidebarTextFaded;
}

.disclosure-triangle.visible:hover div {
	border-left-color: @colorSidebarText;
}

//------------------------------------------------------------
// Sidebar syncing box
//------------------------------------------------------------
.sidebar-activity {
	background-color: darken(@colorSidebarBg, 5%);;
	box-shadow: none;
	font-weight: 600;
  color: @colorSidebarTextLighter;

	//---------------------------------
	// Task count label
	//---------------------------------
	.item .count {
		font-weight: 600;
	  color: @colorSidebarTextLighter;
	}

	//---------------------------------
	// Hide link
	//---------------------------------
	.inner a {
		color: @colorAccent;
		cursor: pointer;
	}

	//---------------------------------
	// Account name
	//---------------------------------
	.item h2 {
		font-weight: 600;
		color: @colorSidebarTextFaded;
		margin: 6px 0px 12px;
	}

	//---------------------------------
	// Syncing indicators (circles)
	//---------------------------------
	.item .sync-activity .account .folder-progress::before {
		background-color: @colorAccent;
		border-color: @colorAccent;
	}

	.item .sync-activity .account .folder-progress.busy::before {
		animation: border-pulse 3s ease-in infinite;
	}

	@keyframes border-pulse {
		0% {
			border-color: transparent;
		}
		100% {
			border-color: @colorAccent;
		}
	}

	//---------------------------------
	// Progress labels
	//---------------------------------
	.item .sync-activity .account .folder-progress .progress-label {
		color: @colorSidebarTextFaded;
	}
}

//------------------------------------------------------------
// Sidebar notifications (error/offline/update)
//------------------------------------------------------------
.notifications {
	background-color: darken(@colorSidebarBg, 5%);
	box-shadow: none;
}

.notification {
	background: @colorAccent;
	border-radius: 3px;
	margin-top: 16px;

	.action {
		border: none !important;

		&:hover {
			box-shadow: none !important;
			background: lighten(@colorAccent, 10%);
		}

		&:active {
			background: darken(@colorAccent, 10%);
		}
	}

	&.error {
		background: @colorWarningRed;

		.action:hover {
			background: lighten(@colorWarningRed, 10%);
		}

		.action:active {
			background: darken(@colorWarningRed, 10%);
		}
	}

	&.offline {
		background: @colorWarningYellow;

		.action:hover {
			background: lighten(@colorWarningYellow, 10%);
		}

		.action:active {
			background: darken(@colorWarningYellow, 10%);
		}
	}
}

//------------------------------------------------------------
// Scrollbar
//------------------------------------------------------------
.account-sidebar .scrollbar-track {
	background: @colorSidebarBg;
	border-left: none;
	width: 10px;

	.scrollbar-handle {
		background: fade(darken(@colorSidebarBg, 45%), 40%);
		border: none;
	}
}
